*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background: #22242a;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0;
}
.sideBar{
    width: 8%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    background: rgb(155, 155, 155, 0.1) ;
    transition: width 0.5s;
    overflow-x: hidden;
    backdrop-filter: blur(10px);
}
.sideBar::-webkit-scrollbar{
    width: 2vw;
    background: transparent;
    scroll-behavior: smooth;
}
.sideBar.active{
    width: 25%;
}
.sideBar .toggle{
    border-bottom: 1px solid #22242a;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.sideBar .toggle h2{
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s;
    color: #2ba4bd;
    margin: auto;
}
.sideBar.active .toggle h2{
    opacity: 1;
}
.sideBar .toggle .fa-music{
    position: absolute;
    left: 40%;
    transition: transform 0.5s;
    cursor: pointer;
    color: #fff;
    transition: opacity 0.5s;
}
.sideBar.active .toggle .fa-music{
    opacity: 0;
}
.sideBar .toggle .fa-chevron-right{
    opacity: 0;
}
.sideBar #toggle.active .fa-chevron-right{
    transform: rotate(-180deg);
    font-size: 1.3rem;
    float: right;
    color: #fff;
    opacity: 1;
}
.sideBar ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style:none;
    margin: 20px 0;
    width: 100%;
}
.sideBar ul .nav-list{
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
}
.sideBar ul .nav-list::before{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    background: transparent;
    right: -7px;
    top: -20px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 6px 0 5px #22242a;
    transform: scale(0);
    transform-origin: bottom-right;
    transition: 0.5s;
}
.sideBar ul .nav-list.active::before{
    right: 25px;
    transform: scale(1);
}
.sideBar ul .nav-list::after{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    background: transparent;
    right: -10px;
    bottom: -20px;
    border-top-right-radius: 20px;
    box-shadow: 6px -3px 0 2px #22242a;
    transform: scale(0);
    transform-origin: top-right;
    transition: 0.5s;
}
.sideBar ul .nav-list.active::after{
    right: 25px;
    transform: scale(1);
}
.sideBar ul .nav-list.active{
    background: #22242a;
    transform: translateX(30px);
}
.sideBar ul .nav-list i{
    position: relative;
    border: 3px solid transparent;
    border-radius: 10px;
    min-width: 50px;
    height: 90%;
    line-height: 47px;
    font-size: 1rem;
    z-index: 999;
    background: transparent;
    color: #e4dcdc;
    text-align: center;
}

.sideBar ul .nav-list.active i{
    font-size: 1.5rem;
    color: #fff;
    background: var(--clr);
}
.sideBar ul .nav-list.active i::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    left: -41px;
    top: 14px;
    border: 5px solid #22242a;
}
.sideBar ul .nav-list span{
    color: #2ba4bd;
    opacity: 0;
    margin-left:  15px;
    font-size: 1.2rem;
    position: relative;
    transition: opacity 0.5s;
}
.sideBar ul .nav-list.active span{
    opacity: 0;
    color:#fff;
}
.sideBar.active ul .nav-list span{
    opacity: 1;
}
.sideBar .sub-playlist{
    display: none;
    transition: display 0.5s;
}
.sideBar.active .sub-playlist{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    opacity: 1;
    
}
.sideBar.active .sub-playlist h3{
    font-size: 12px;
    color:#a59e9e;
    margin: 10px auto;
}
.sideBar.active .sub-playlist .songItem{
    position: relative;
    display: flex;
    align-items: center;
    background: #a59e9e;
    width: 100%;
    margin: 5px 0;
}
.sideBar.active .sub-playlist .songItem span{
    color: #fff;
    font-size: smaller;
    padding:0 10px;
}
.sideBar.active .sub-playlist .songItem img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sideBar.active .sub-playlist .songItem h5{
    font-size: 15px;
    color: antiquewhite;
    padding-left: 10px;
    width: 150px;
}
.sideBar.active .sub-playlist .songItem h5 .subtitle{
    font-size: 10px;
    color: #e4dcdc;
}
.sideBar.active .sub-playlist .songItem i{
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}


@media screen and (max-width: 780px){
    .sideBar{
         width: 50px;
    }
    .sideBar ul .nav-list{
        height: 40px;
        margin: 10px 0;
    }
    .sideBar.active{
        width: 50%;
    }
    .sideBar ul .nav-list.active{
        transform: translateX(10px);
    }
    .sideBar ul .nav-list.active i{
        font-size: 1.1rem;
        color: #fff;
    }
    .sideBar ul .nav-list.active::after{
        right: 9px;
        transform: scale(1);
    }
    .sideBar ul .nav-list::after{
        right: -8px;
        bottom: -18px;
    }
    .sideBar ul .nav-list::before{
        right: -8px;
        top: -18px;
    }
    .sideBar ul .nav-list.active::before{
        right: 10px;
        transform: scale(1);
    }
    .sideBar ul .nav-list.active i::after{
        width: 5px;
        height: 5px;
        left: -18px;
        top: 7px;
    }
    .sideBar ul .nav-list i{
        font-size: 0.8rem;
        border: 1px solid transparent;
        border-radius: 5px;
        min-width: 35px;
        height: 35px;
        line-height: 30px;
        text-align: center;
    }
    .sideBar .toggle .fa-music{
        left: 35%;
    }
    .sideBar .toggle h2{
        font-size: smaller;
    }
    .sideBar.active .sub-playlist .songItem{
        height: 35px;
    }
    .sideBar.active .sub-playlist .songItem img{
        width: 25px;
        height: 25px;
    }
    .sideBar.active .sub-playlist .songItem h5{
        font-size: 11px;
    }
}

/* SIDEBAR MENU STYLING ENDS HERE */

.main-display{
    width: 90%;
    height: 90%;
    /* border: 1px solid rgb(121, 101, 101); */
    position: relative;
    margin: 0 auto;
}
.main-display .header{
    background: transparent;
    width: 80%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.main-display .header .navigation ul{
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
    width: 300px;
    list-style: none;
}
.main-display .header .navigation ul .links:last-child{
    display: none;
    color: #fff;
}
.main-display .header .navigation .links a{
    color: #a59e9e;
    font-weight: 600;
    font-size: 1.1rem;
    transition: 0.5s;
}
.main-display .header .navigation .links{
    transition: 0.5s;
}
.main-display .header .navigation .links.active{
    background-image: linear-gradient(rgb(8, 255, 255), rgb(8, 255, 255) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-display .header .search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    background: rgb(180, 180, 180, 0.1);
    height: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.main-display .header .search i{
    color: #a59e9e;
    padding-left: 8px;
}
.main-display .header .search input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    min-width: 100px;
    padding: 0 8px;
    background: transparent;
    border: none;
    color: #e4dcdc;
}
.main-display .header .menu{
    display: none;
    float: right;
}
/* SMALLER SCREEN FOR HEADER NAVIGATION */
@media screen and (max-width: 768px) {
    .main-display .header .navigation{
        position: absolute;
        background: #22242a;
        height: 100vh;
        z-index: 1;
        top: 100%;
        width: 0;
        right: -30px;
        transition: width 0.5s;
    }
    .main-display .header{
       background: transparent;
       width: 100%;
       display: flex;
       justify-content: space-between;
       background: #22242a;
    }
    .main-display .header .navigation.active{
        width: 180px;
    }
    .main-display .header .navigation ul{
        display: block;
    }
    .main-display .header .navigation ul li{
        margin: 50px 0px;
    }
    .main-display .header .search{
        transform: translateX(15%);
    }
    .main-display{
        width: 100%;
    }
    .main-display .header .menu{
        color: #fff;
        height: 60px;
        font-size: 22px;
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
    .main-display .header .menu i{
        display: block;
        transition: transform 0.5s;
        cursor: pointer;
    }
    .main-display .header .menu i.active{
        transform: rotate(180deg);
    }
}
/* NAVIGATION MENUS FOR SMALLER SCREENS ENDS HERE */

/*  */
.main-content{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    position: relative;
    /* border: 1px solid red; */
}
.main-content .content{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background: url(back.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    margin: 0 40px;
}
.main-content .content.active{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    background: url(back.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.main-content .content  .background-text{
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    text-align: center;
}
.content .background-text{
    width: 100%;
    text-align: center;
}
.content .background-text h2{
    color:#0fc707;
    font-weight: bolder;
    margin-top: 20%;
    font-size: 2rem;
}
.favorite{
    display: flex;
    flex-direction: column;
    width:25%;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 99999;
}
.favorite .favorite-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.favorite .favorite-content h3{
    font-size: 18px;
    color:#a59e9e;
    margin: 10px auto;
}
.favorite .favorite-content .songItem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    margin: 5px 0;
    height: 30px;
}
.favorite .favorite-content .songItem img{
    width: 30px;
    height: 100%;
    border-radius: 50%;
    margin: 0 10px;
}
.favorite .favorite-content .songItem h5{
    font-size: 11px;
    color: rgb(8, 255, 255);
    padding: 0 10px;
    width: 150px;
}
.favorite .favorite-content .songItem h5 .subtitle{
    font-size: 10px;
    color: #e4dcdc;
}
.favorite .favorite-content .songItem i{
    color: #fff;
    padding:0 5px;
    cursor: pointer;
}
.background-text .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.background-text button{
    padding: 10px 15px;
    color: #fff;
    width: 150px;
    border: none;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: background 0.5s;
    margin: 0 20px;
}
.background-text button:nth-child(1){
    background: rgb(8, 255, 255);
}
.background-text button:nth-child(2){
    background: #a59e9e;
}
.background-text button:hover{
    background: #2ba4bd;
}
/* SMALLER SCREEN FOR MAIN CONTENT */
@media screen and (max-width: 800px){
    .favorite{
        width: 0;
        transition: width 0.5s;
    }
    .favorite .favorite-content{
        opacity: 0;
        transition: opacity 0.5s;
        width: 90%;
    }
    .favorite .favorite-content h3{
        font-size: 11px;
    }
    .favorite .favorite-content .songItem{
        width: 80%;
        margin: 10px auto;
    }
    .favorite.active{
        align-items: center;
        width: 100%;
        z-index: 2;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(back.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
    }
    .favorite.active .favorite-content{
        opacity: 1;
    }
    .main-content .content{
        width: 100%;
        margin: 0 10px;
    }
}


/* MUSIC CONTROL SECTION STYLING */
.masterPlay{
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 99999999999999999999999999;
    display: flex;
    align-items: center;
    background: rgb(155, 155, 155, 0.1);
    backdrop-filter: blur(10px);
}
.masterPlay .play-wave{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.masterPlay .play-wave span{
    width: 3px;
    height: 15px;
    background:rgb(8, 255, 255);
    margin-right: 5px;
    animation: unset;
    transition: height 0.5s;
}
.masterPlay .play-wave span:nth-child(2){
    height: 18px;
    animation-delay: 0.3s;
}
.masterPlay .play-wave span:nth-child(3){
    height: 10px;
    animation-delay: 0.5s;        
}
/* JS CLASSES FOR WAVY ANIMATION */
.masterPlay .play-wave.active1 span{
    animation: wavy 0.5s linear infinite;   
}
.masterPlay .play-wave.active1 span:nth-child(2){
    animation-delay: 0.3s;
}
.masterPlay .play-wave.active1 span:nth-child(3){
    animation-delay: 0.5s;        
}
@keyframes wavy{
    0%{
        height: 10px;
    }
    50%{
        height: 20px;
    }
    100%{
        height: 15px
    }
}
.masterPlay .songDescription{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}
.masterPlay .songDescription img{
    height: 100%;
    width:40px;
    border-radius: 5px;
}
.masterPlay .songDescription h5{
    font-size: 14px;
    color: #fff;
    width: 130px;
    margin-left: 8px;
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.masterPlay .songDescription h5 .subtitle{
    font-size: 10px;
    color:rgb(8, 255, 255);
}
.masterPlay .play-icon{
    margin-left: 30px;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    color: #fff;
    width: 200px;
    height: 100%;
}
.masterPlay .play-icon a{
    color: #fff;
}
.masterPlay .play-icon i{
    cursor: pointer;
}
.masterPlay .play-icon .fa-shuffle, .masterPlay .play-icon .fa-repeat{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 16px;
    color: #fff;
    transition: color 0.5s;
}
.masterPlay .play-icon .fa-repeat{
    width: 15px;
}
.masterPlay .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50%;
    height: 100%;
    position: relative;
    margin:0 auto;
}
.masterPlay .counter .time{ 
    height: 100%;
    display: flex;
    align-items: center;
    width: 300px;
    position: relative;
}
.masterPlay .counter .time .bar, .masterPlay .counter .volume .vol-bar{
    position: relative;
    width: 100%;
    height: 2px;
    top: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:  center;
    background: rgb(125, 151, 151); ;
}
.masterPlay .counter .time .bar input, .masterPlay .counter .volume .vol-bar input{
    opacity: 0;
    width: 100%;
    position: absdolute;
    height: 2px;
    cursor: pointer;
    z-index: 999999;
}
.masterPlay .counter .time .bar .bar-count, .masterPlay .counter .volume .vol-bar .bar-count{
    height: 100%;
    width: 100%;
    background: rgb(125, 151, 151);
    position: absolute;
    transition: .7s;
    left: 0;
}
.masterPlay .counter .time .bar .cursor, .masterPlay .counter .volume .vol-bar .cursor{
    height: 5px;
    width: 5px;
    background: rgb(8, 255, 255);
    position: absolute;
    border-radius: 50%;
    left: 0;
    transition: .7s;
}
.masterPlay .counter .volume .vol-bar .cursor{
    left: 100%;
}
.masterPlay .counter .time .bar .cursor::before, .masterPlay .counter .volume .vol-bar .cursor::before{
    content: '';
    height: 13px;
    width: 13px;
    border: 1px solid #2ba4bd;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px  #2ba4bd ;
}
.masterPlay .counter .volume{
    display: flex;
    align-items: center;
    position: relative;   
    height: 100%;
}
.masterPlay .counter .volume i{
    padding-right: 5px;
    font-size: 10px;
}
.masterPlay .counter span{
    margin:0 10px;
    font-size: 10px;
}
@media screen and (max-width: 800px) {
    .masterPlay{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        /* max-height: 400px; */
    }
    .masterPlay .counter .volume{
        display: none;
    }
    .masterPlay .songDescription{
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: space-between;
    }
    .masterPlay .songDescription img{
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: 0;
    }
    .masterPlay .songDescription .songTitle{
        position: absolute;
    }
    .masterPlay .songDescription .songTitle .title{
        font-size: 10px;
    }
    .masterPlay .play-icon{
        position: absolute;
        /* top: 5px; */
        bottom: -11px;
        width: 100%;
        justify-content: center;
        z-index: 9999;
    }
    .masterPlay .play-icon i{
        padding: 0 20px;
        cursor: pointer;
        font-size: 13px;
    }
    .masterPlay .play-icon .fa-shuffle, .masterPlay .play-icon .fa-repeat{
        padding:0 3px;
    }
    .masterPlay .play-wave{
        position: absolute;
        top: -10px;
        left: 0;
    }
    .masterPlay .counter .time{
        position: absolute;
        top: -20px;
        z-index: 99999999;
    }
    .masterPlay .songTitle{
        display: flex;
        flex-direction: column;
        font-size: 8px;
    }
}
