
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    background: #161c31;
    min-height: 100vh;
}
i{
    color: #fff;
}
.sideBar{
    width: 10%;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: all 0.5s;
    overflow-x: hidden;
    background: inherit;
}
.sideBar::-webkit-scrollbar{
    width: 2vw;
    background: transparent;
    scroll-behavior: smooth;
}
.sideBar.active{
    width: 25%;
    background: rgb(155, 155, 155, 0.1);
    backdrop-filter: blur(10px);
}
.sideBar .toggle{
    border-bottom: 1px solid #22242a;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.sideBar .toggle h2{
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s;
    color: #2ba4bd;
    margin: auto;
}
.sideBar.active .toggle h2{
    opacity: 1;
}
.sideBar .toggle .fa-music{
    position: absolute;
    left: 40%;
    cursor: pointer;
    color: #fff;
    transition: opacity 0.5s;
}
.sideBar.active .toggle .fa-music{
    opacity: 0;
}
.sideBar .toggle .fa-chevron-right{
    opacity: 0;
}
.sideBar #toggle.active .fa-chevron-right{
    transform: rotate(-180deg);
    font-size: 1.3rem;
    float: right;
    color: #fff;
    opacity: 1;
}
.sideBar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style:none;
    margin: 20px 0;
    width: 100%;
    height: 60%;
   
}
.sideBar ul .nav-list{
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
}
.songNumber{
    position: absolute;
    background: #dc143d;
    left: 15px;
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 50%;;
    color: #FFF;
}
.sideBar ul .nav-list::before{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    background: transparent;
    right: -7px;
    top: -20px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 6px 0 5px #22242a;
    transform: scale(0);
    transform-origin: bottom-right;
    transition: 0.5s;
}
.sideBar ul .nav-list.active::before{
    right: 25px;
    transform: scale(1);
}
.sideBar ul .nav-list::after{
    content: '';
    position: absolute;
    width: 20px;
    height:20px;
    background: transparent;
    right: -10px;
    bottom: -20px;
    border-top-right-radius: 20px;
    box-shadow: 6px -3px 0 2px #22242a;
    transform: scale(0);
    transform-origin: top-right;
    transition: 0.5s;
}
.sideBar ul .nav-list.active::after{
    right: 25px;
    transform: scale(1);
}
.sideBar ul .nav-list.active{
    background: #22242a;
    transform: translateX(30px);
}
.sideBar ul .nav-list.active .songNumber{
    position: absolute;
    z-index: 9999;
    top: -3px; left: 15px;
}
.sideBar ul .nav-list i{
    position: relative;
    border: 3px solid transparent;
    border-radius: 10px;
    min-width: 50px;
    height: 90%;
    line-height: 47px;
    font-size: 1.3rem;
    z-index: 999;
    background: transparent;
    color: #e4dcdc;
    text-align: center;
}
.sideBar ul .nav-list .fa-house-user{
    color: var(--clr);
}
.sideBar ul .nav-list .fa-record-vinyl{
    color: var(--clr);
}
.sideBar ul .nav-list .fa-user{
    color: var(--clr);
}
.sideBar ul .nav-list .fa-music{
    color: var(--clr);
}
.sideBar ul .nav-list.active i{
    font-size: 1.5rem;
    color: #fff;
    background: var(--clr);
}
.sideBar ul .nav-list.active i::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    left: -41px;
    top: 14px;
    border: 5px solid #22242a;
}
.sideBar ul .nav-list span{
    color: #2ba4bd;
    opacity: 0;
    margin-left:  15px;
    font-size: 1.2rem;
    position: relative;
    transition: opacity 0.5s;
}
.sideBar ul .nav-list.active span{
    opacity: 0;
    color:#fff;
}
.sideBar.active ul .nav-list span{
    opacity: 1;
}
@media screen and (max-width: 800px){
    .sideBar{
         width: 50px;
    }
    .sideBar ul .nav-list{
        height: 40px;
        margin: 10px 0;
    }
    .sideBar.active{
        width: 30%;
    }
    .sideBar ul .nav-list.active{
        transform: translateX(10px);
    }
    .sideBar ul .nav-list.active i{
        font-size: 1.1rem;
        color: #fff;
    }
    .sideBar ul .nav-list.active::after{
        right: 9px;
        transform: scale(1);
    }
    .sideBar ul .nav-list::after{
        right: -8px;
        bottom: -18px;
    }
    .sideBar ul .nav-list::before{
        right: -8px;
        top: -18px;
    }
    .sideBar ul .nav-list.active::before{
        right: 10px;
        transform: scale(1);
    }
    .sideBar ul .nav-list.active i::after{
        width: 5px;
        height: 5px;
        left: -18px;
        top: 7px;
    }
    .sideBar ul .nav-list i{
        font-size: 0.8rem;
        border: 1px solid transparent;
        border-radius: 5px;
        min-width: 35px;
        height: 35px;
        line-height: 30px;
        text-align: center;
    }
    .sideBar .toggle .fa-music{
        left: 35%;
    }
    .sideBar .toggle h2{
        font-size: smaller;
    }
    .sideBar.active .sub-playlist .songItem{
        height: 35px;
    }
    .sideBar.active .sub-playlist .songItem img{
        width: 25px;
        height: 25px;
    }
    .sideBar.active .sub-playlist .songItem h5{
        font-size: 11px;
    }
}
@media screen and (max-width: 520px){
    .sideBar .toggle .fa-music{
        left: 0;
        position: relative;
        margin-left: 5px;
    }
    .sideBar.active{
        width: 50%;
    }
    .songNumber{
        width: 15px;
        height: 15px;
        font-size: .8rem;
        top: 2px;
    }
}
@media screen and (max-width: 400px){
    .sideBar{
        width: 35px;
    }
    .sideBar ul .nav-list.active{
        transform: translateX(2px);
    }
    .sideBar ul .nav-list::before{
        box-shadow: 5px 6px 0 5px transparent;
        border-bottom-right-radius: 0px;
    }
    .sideBar ul .nav-list::after{
        box-shadow: 5px 6px 0 5px transparent;
        border-top-right-radius: 0px;
    }
}
@media screen and (max-width: 280px){
    .sideBar{
        width: 30px;
    }
    .sideBar ul .nav-list.active{
        transform: translateX(0px);
    }
}

/* SIDEBAR MENU STYLING ENDS HERE */
 .header{
    background: inherit;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.header .navigation{
    width: 400px;
    height: 100%;
}
.header .navigation ul{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none; 
}
 .header .navigation .links a{
    color: #fff;
    font-weight: 800;
    font-size: 1.1rem;
}
 .header .navigation .links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.5s;
}
 .header .navigation .links.active a{
    background: #f44336;
    /* background-image: linear-gradient(rgb(8, 255, 255), rgb(8, 255, 255) ); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .header .search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    background: rgb(180, 180, 180, 0.1);
    height: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
 .header .search i{
    color: #a59e9e;
    padding-left: 8px;
}
 .header .search input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    min-width: 100px;
    padding: 0 8px;
    background: transparent;
    border: none;
    color: #e4dcdc;
}
 .header .menu{
    display: none;
    float: right;
}
/* SMALLER SCREEN FOR HEADER NAVIGATION */
@media screen and (max-width: 768px) {
     .header .navigation{
        background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 100%;
        width: 50%;
        right: -400px;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
     .header{
       width: 100%;
       display: flex;
       justify-content: flex-end;
    }
     .header .navigation.active{
        right: 0;
    }
     .header .navigation ul{
        flex-direction: column;
        width: 95%;
        height: 100%;
        margin: 0 auto;
        transition: opacity .5s;
        
    }
     .header .navigation ul .links{
        width: 100%;
        opacity: 1;
        margin: 30px 0px;
    }
     .header .search{
        width: 70%;
        margin-left: auto;
        margin-right: .4rem;
    }
    .header .menu{
        width: 40px;
        color: #fff;
        height: 30px;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 10px;
    }
    .header .menu span{
        border-radius: 5px;
        background: #fff;
        display: block;
        transition: transform 0.5s, opacity .5s;
        cursor: pointer;
        margin: auto 0;
        height: 3px;
        width: 80%;
    }
    .header .menu span:nth-child(2){
        width: 66%;
    }
    .header .menu span:nth-child(3){
        width: 33%;
    }
    .header .menu.active span:nth-child(1){
        width: 70%;
        transform: rotate(45deg) translateY(3px);
    }
    .header .menu.active span:nth-child(2){
        opacity: 0;
    }
    .header .menu.active span:nth-child(3){
        width: 70%;
        transform: rotate(-45deg) translateY(-3px);
    }
}
@media screen and (max-width: 350px) {
    .header .search{
        width: 60%;
    }
    .header .menu {
        height: 30px;
    }
    .header .menu span{
        height: 3px;
        width: 80%;
    }
    .header .menu.active span:nth-child(1){
        width: 70%;
        transform: rotate(45deg) translateY(3px);
    }
    .header .menu.active span:nth-child(3){
        width: 70%;
        transform: rotate(-45deg) translateY(-2px);
    }
}
/* NAVIGATION MENUS FOR SMALLER SCREENS ENDS HERE */


.container{
    min-height: 100vh; 
    width: 90%;
    margin-left: auto;
    position: relative;
    margin-top: 60px;
    display:flex;
}
.main-content{
    width: 100%;
    position: relative;
    justify-content: center;
}
.main-content .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    position: absolute;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    overflow-y: auto;
}
.main-content .content::-webkit-scrollbar{
    display: none;
}
.main-content .content.active{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    position: absolute;
    color: #fff;
    margin: 0 auto;
}
.content .box{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.boxLabel{
    width: 100%;
    position: relative;
    margin: 5px 0;
    transition: opacity .5s;
}
.boxLabel:hover{
    opacity: 0.3;
}
.boxLabel .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxLabel .overlay p{
    font-size: 2rem;
    color: var(--clr);
    font-weight: 900;
    font-style: italic;
}
.boxLabel .overlay span{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}
.boxLabel.l1, .boxLabel.l3{
    height: 40%;
}
.boxLabel.l2{
    height: 60%;
}
.boxLabel.l4, .boxLabel.l5{
    height: 50%;
}
.boxLabel.l7, .boxLabel.l6{
    height: 30%;
}
.boxLabel.l8{
    height: 70%;
}
.boxLabel img{
    height:100%;
    width: 100%;
    object-fit: fill;
}
/* SMALLER SCREEN FOR MAIN CONTENT */
@media screen and (max-width: 750px){
    .boxLabel .overlay p{
        font-size: 1.5rem;
    }
    .boxLabel .overlay span{
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px){
    .main-content .content{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-content .content.active{
        grid-template-columns: repeat(2, 1fr);
    }
    .box.b3{
        display: none;
        
    }
    .boxLabel.l8{
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .main-content .content{
        grid-template-columns: auto;
    }
    .main-content .content.active{
        grid-template-columns: auto;
    }
}


/* MUSIC CONTROL SECTION STYLING */
.masterPlay{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    background: rgb(155, 155, 155, 0.1);
    backdrop-filter: blur(10px);
    justify-content: space-evenly;
    transition: height .4s ease-in;
}
.masterPlay .play-wave{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.masterPlay .play-wave span{
    width: 3px;
    height: 20px;
    background:#2196f3;
    margin-right: 5px;
    animation: unset;
    transition: height 0.5s;
}
.masterPlay .play-wave span:nth-child(2){
    height: 25px;
    animation-delay: 0.3s;
}
.masterPlay .play-wave span:nth-child(3){
    height: 17px;
    animation-delay: 0.5s;        
}
/* JS CLASSES FOR WAVY ANIMATION */
.masterPlay .play-wave.active1 span{
    animation: wavy 0.5s linear infinite;   
}
.masterPlay .play-wave.active1 span:nth-child(2){
    animation-delay: 0.3s;
}
.masterPlay .play-wave.active1 span:nth-child(3){
    animation-delay: 0.5s;        
}
@keyframes wavy{
    0%{
        height: 22px;
    }
    50%{
        height: 20px;
    }
    100%{
        height: 25px
    }
}
.masterPlay .songDescription{
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}
.masterPlay .songDescription img{
    height: 70%;
    object-fit: fill;
    aspect-ratio: 1 / 1;
    width:40px;
}
.masterPlay .songDescription .trackTitle{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-left: 8px;
    justify-content: center;
    color: #fff;
}
.masterPlay .songDescription .trackTitle p{
    color: #2196f3;
    font-weight: 700;
    font-size: .8rem;
}
.masterPlay .songDescription .trackTitle span{
    padding-top: 5px;
    font-size: .5rem;
}
.masterPlay .play-icon{
    transition:all 0.4s ;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    color: #fff;
    width: 150px;
    height: 100%;
}
.masterPlay .play-icon .fa-chevron-up{
    display: none;
}
.masterPlay .play-icon i{
    cursor: pointer;
    transition: color .5s;
}
.masterPlay .play-icon .fa-circle-play{
    font-size: 1.3rem;
}
.masterPlay .play-icon i:hover{
    color: #2196f3;
}
.masterPlay .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    position: relative;
}
.masterPlay .counter .time{ 
    height: 100%;
    display: flex;
    align-items: center;
    width: 300px;
    position: relative;
}
.time span{
    color: #fff;
    font-size: 1.2rem;
}
.masterPlay .counter .time .bar, .masterPlay .counter .volume .vol-bar{
    position: relative;
    width: 100%;
    height: 3px;
    top: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:  center;
    background: rgb(125, 151, 151); 
}
.masterPlay .counter .time .bar input, .masterPlay .counter .volume .vol-bar input{
    opacity: 0;
    width: 100%;
    position: absdolute;
    height: 2px;
    cursor: pointer;
    z-index: 999;
    left: 0;
}
.masterPlay .counter .time .bar .bar-count, .masterPlay .counter .volume .vol-bar .bar-count{
    height: 100%;
    width: 0;
    background: #2196f3;
    position: absolute;
    transition: .7s;
    left:0 ;
}
.masterPlay .counter .time .bar .cursor, .masterPlay .counter .volume .vol-bar .cursor{
    height: 5px;
    width: 5px;
    background: #2196f3;
    position: absolute;
    border-radius: 50%;
    left: 0;
    transition: .7s;
}
.masterPlay .counter .volume .vol-bar .bar-count{
    width: 100%;
}
.masterPlay .counter .volume .vol-bar .cursor{
    left: 100%;
}
.masterPlay .counter .time .bar .cursor::before, .masterPlay .counter .volume .vol-bar .cursor::before{
    content: '';
    height: 13px;
    width: 13px;
    border: 2px solid #2196f3;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px  #2196f3 ;
}
.masterPlay .counter .volume{
    display: flex;
    align-items: center;
    position: relative;   
    height: 100%;
}
.masterPlay .counter .volume i{
    padding-right: 5px;
    font-size: 10px;
}
.masterPlay .counter span{
    margin:0 10px;
    font-size: 10px;
}
@media screen and (max-width: 768px){
    .masterPlay{
        flex-wrap: wrap;
        height: 80px;
    }
    .masterPlay .counter .volume{
        display: none;
    }
    .masterPlay .songDescription{
        height: 70%;
        flex-direction: row-reverse;
    }
    .masterPlay .songDescription img{
        height: 50%;
    }
    .masterPlay .counter{ 
        position: absolute;
        bottom: 5px;
        height: 20px;
        width: 100%;
    }
    .masterPlay .counter .time{
        width: 100%;
    }

}
 @media screen and (max-width: 500px) {
    .masterPlay{
        height: 60px;
        flex-wrap: nowrap;
    }
    .masterPlay .play-icon{
        width: 95%;
    }
    .masterPlay .play-icon .fa-chevron-up{
    display: block;
    font-size: 1.3rem;
    }
    .masterPlay .play-wave, .masterPlay .songDescription,
    .masterPlay .counter{
        display: none;
    }
    .masterPlay.expand .play-wave, .masterPlay.expand .songDescription,
    .masterPlay.expand .counter{
        display: flex;
    }
    .masterPlay.expand{
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .masterPlay.expand .play-icon{
        position: absolute;
        bottom: 10px;
        height: 25px;
        width: 95%;
        padding-left: 20px;
    }
    .masterPlay.expand .counter{
        position: absolute;
        bottom: 70px;
    } 
    .masterPlay.expand .songDescription{
        height: 80%;
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }
      .masterPlay.expand .songDescription img{
        width: 100%;
        height: 80%;
      }
      .masterPlay.expand .songDescription .trackTitle{
        position: absolute;
        height: 10%;
        width: 90%;
        bottom: -14px;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .masterPlay.expand .songDescription .trackTitle p{
        font-size: 1.2rem;
        margin-top: 7px;
      }
      .masterPlay.expand .songDescription .trackTitle span{
        font-size: .9rem;
        margin-top: 7px;
      }
      .masterPlay.expand .play-wave{
        position: absolute;
        top: 73%;
        width: 20%;
        height: 50px;
        align-items: flex-end;
    }
    .masterPlay.expand .play-wave span{
        height: 70%;
    }
}