/* TOP TREND SECTION STYLING */
.newRelease, .gospel, .afro, .classic, .jazz{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-top: 8px;
    /* height: 270px; */
}
.jazz{
    height: 250px;
}
.newRelease h3, .gospel h3, .afro h3, .classic h3, .jazz h3{
    color: var(--clr);
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 10px;
}
.trendContainer, .gospelContainer, .afroTracks, 
.classicTracks, .jazzTracks{
    display: flex;
    position: relative;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}
.fa-angle-left,  .fa-angle-right
{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;;
}
.fa-angle-left
{
    left: 0;
    background: linear-gradient(to left, transparent, #2196f3 80%);
    padding: 10px;
    border-radius:  50%;;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.fa-angle-right
{
    right: 0;
    background: linear-gradient(to right, transparent, #2196f3 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    border-radius:  50%;;
}
.genre{
    max-width: 90%;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;;
}
.genre::-webkit-scrollbar
{
    display: none;
}
.inline{
    display: inline-block;
    width: 120px;
    height: 150px;
    position: relative;
    user-select: none;
    margin: 0 5px; cursor: pointer;
    border-radius: 5px;
}
.trendSong{
    display: flex;;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.trendSong .songImg{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.trendSong .songImg img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.trendSong .fa-circle-play{
    position: absolute;
    bottom: 10px;
    left: 35%;
    font-size: 1.5rem;
    color: #2196f3;
    cursor: pointer;
    z-index: 99;
}
.trendSong .fa-regular{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index:9;
    color: #ffa117;
}
.trendSong .songTitle{
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height .5s;
    overflow: hidden;
    left: 0;
}
.trendSong:hover .songTitle{
    height: 100%;
}
.notify{
    position:absolute;
    top: 20%;
    color: #ffa117;
    font-size: .8rem;
}
.trendSong .songTitle p{
    color: #2196f3;
    font-size: .8rem;
    text-align: center;
    margin-top: -5px;
}
.trendSong .songTitle span{
    color: #fff;
    text-align: center;
    font-size: .7rem;
    margin-bottom: 6px;
}
@media screen and (max-width: 600px) {
    .trendContainer, .gospelContainer, .afroTracks, .classicTracks, .jazzTracks{
        max-width: 95%;
        margin: 0 auto;
    }
    .trendSong .songTitle p{
        font-size: .5rem;
    }
    .newRelease h3, .gospel h3, .jazz h3, .afro h3, .classic h3{
        font-size: 1rem;
        margin-left: 10px;
    }
    .fa-angle-left, .fa-angle-right
    {
        display: none;
        visibility: hidden;;
    }

}

/* Javascript class to hide items in search bar function */
.hide{ 
    display: none;
}

/* ARTISTE ALBUM AND FAVORITE SECTION STYLING STARTS */
.favorite, .albums, .artistes{
    width: 100%;
    height: 100%;
    left: -120%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    transition: left 0.3s;
    overflow-y: auto;
}
.fa-trash-can{
    color: red;
}
.favContent{
    background: linear-gradient(to bottom, transparent, #587288 85%), url(back.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.favHeader{
    color: #fff;
    text-align: center;
    padding: 5px 0;
}
.favorite.show, .albums.show, .artistes.show{
    left: 0;
}
.favorite .subContent{
    width: 98%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 5px;
}
.subContent{
    width: 98%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}
.navTitle{
    text-align: center;
    color: aqua;
    padding: .7rem 0;
    font-size: 1.3rem; 
}
.subContent .songItem{
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.image, .image img {
    color: #fff;
    width: 100%;
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1/1;
    border-radius: 5px;
}
.details, .albumName{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height .5s;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
.listen{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.listen button{
    cursor: pointer;
    width: 50%;
    height: 80%;
    background: #ffa117;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: .6rem;
    text-align:center;
}
.favorite .subContent .listen button{
    background: #2196f3;
}
.favorite .subContent .albumName h3{
    color: #2196f3;
    font-size:2rem;
}
.albumName{
    height: 100%;
    color: #fff;
}
.albumName h3{
    font-size: 1.3rem;
    color: #ffa117;
    padding-bottom: 0.9rem;
    text-align: center;
}
.details p, .albumName p{
    font-size: .7rem;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin: 0 5px;
}
.subContent .songItem:hover .details{
    height: 100%;
}
.subContent .songItem:hover .albumName{
    height: 0;
}
/* STYLING SECTION FOR ALL TRACKS  ****/
.allTracks{
    width: 98%;
    margin: 10px auto;
    display: grid;
    background: inherit;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 6px;
}
.allTracks.active{display: none;}
.track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background .5s;
    opacity: 0.9;
    border: 1px solid rgba(155, 155, 155, 0.438);
    border-radius: 5px;;
    backdrop-filter: blur(10px);
}
.track:hover{
    background: rgba(155, 155, 155, 0.438);
}
.trackImg{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20%;
    height: 90%;
}
.trackImg img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: fill;
    aspect-ratio: 1 / 1;
}
.trackTitle{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    color: #fff;
}
.trackTitle p{
    color: #0fc707;
    font-weight: 700;
    font-size: .8rem;
}
.trackTitle span{
    padding-top: 5px;
    font-size: .5rem;
}
.trackTime{
    display: flex;
    justify-content: center;
    font-size: .5rem;
    width: 10%;
    height: 100%;
    color:#fff;
    align-items: center;
}
.track i{
    font-size: .9rem;
    margin-right: 5px;
    cursor: pointer;
}
/**************** SMALLER SCREENS FOR ALBUM, TRACKS, AND FAVORITE SECTION********* */
@media screen and (min-width: 700px){
    .albumName h3{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 850px){
    .favorite .subContent{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 510px){
    .albumName h3{
        font-size: 1rem;
        width: 98%;
        margin: 0 auto;
    }
    .details p{
        font-size: .5rem;
    }
    .listen button{
        width: 40%;
        height: 80%;
        font-size: .5rem;
    }
}
@media screen and (max-width: 450px) {
    .allTracks{
        grid-template-columns: auto;
    }
}
/* ***********STLING SECTION FOR PREVIEWING ALBUM TRACKS **************** */
.previewAlbum{
    position: fixed;
    top: 0; left: 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 9999999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.previewAlbum.active{
    display: flex;
}
.previewAlbum .fa-times{
    position: absolute;
    color:#f44336;
    right: 1.2rem; top:5px;
    z-index: 2;
    font-size: 2rem;
    cursor: pointer;
}
.preview {
    padding-top: 20px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    position: relative;
}
.preview.active{
    display: flex;
}
.preview .prevImg{
    height: 50%;
    width: 100%;
    position: relative;
    border-radius: 5px;
}
.preview .prevImg img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}
.preview .prevTracks{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    height: 50%;
    margin-top: 5px;
}
.preview .prevTracks .track{
    width: 100%;
    height: 55px;
    display: flex;
    background: rgba(100, 100, 100, 0.26);
    backdrop-filter: blur(5px);
    margin: 2px 0;
    justify-content: space-around;
    transition: opacity .5s;
}
.preview .prevTracks .track:hover{
    opacity: 0.5;
}
.preview .prevTracks .track .trackImg {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
    /* padding-left: 5px; */
}
.preview .prevTracks .track .trackImg img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: fill;
    aspect-ratio: 1 / 1;
}
.preview .prevTracks .track .trackTitle{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.preview .prevTracks .track .trackTitle  p{
    color: #2196f3;
    font-weight: 700;
    text-align: center;
}
.preview .prevTracks .track .trackTitle span{
    padding-top: 5px;
    font-size: .7rem;
}
.preview .prevTracks .track .trackTime{
    display: flex;
    justify-content: center;
    font-size: .5rem;
    width: 10%;
    height: 100%;
    color:#fff;
    align-items: center;
}
.preview .prevTracks .track .track i{
    font-size: .9rem;
    margin-right: 5px;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .preview .prevTracks .track .trackTitle p{
        font-size: .6rem;
    }
    .preview .prevTracks .track .trackTitle span{
        font-size: .5rem;
    }
    .preview{
        width: 98%;
    }
}