.newRelease{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60vh;
    background: #22242a;
    position: relative;
    margin:0 auto;
    overflow: hidden;
}
.newRelease h3{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 10px 0;
}
.newRelease .songs{
    width: 90%;
    height: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    transition: all 0.5 ease;
    z-index: 9999999999;
}
.newRelease .songs .collections{
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all 0.5s ease;
    overflow: hidden;
}
.newRelease .songs button{
    margin: 0 15px;
    background: #fff;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    transition: all 0.5s ease;
}

.newRelease .songs button i{
    font-size: 22px;
}
.newRelease .songs .collections .songItem{
    display: flex;
    flex-direction: column;
    min-width: 160px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 7px;
}
.newRelease .songs .collections .songItem h5
{
    color: #2196f3;
    padding-top: 5px;
    align-self: flex-start;
}
.newRelease .songs .collections .songItem h5 .subtitle
{
    color: #fff;
}
.newRelease .songs .collections .songItem .songBtn{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    position: relative;
}
.newRelease .songs .collections .songItem .songBtn img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    border-radius: 7px;
    position: absolute;
    object-fit: cover;
}
.newRelease .songs .collections .songItem .songBtn:hover img{
    transform: scale(1.02);
}
.newRelease .songs .collections .songItem .songBtn .songIcn{
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5));
    transition: transform 0.5s, height 0.5s;
    overflow: hidden;
    bottom: 0;
    border-radius: 7px;
}
.newRelease .songs .collections .songItem .songBtn:hover .songIcn{
    height: 100%;
    transform: scale(1.02);
}
.newRelease .songs .collections .songItem .songBtn .songIcn i{
    margin: auto;
    cursor: pointer;
}
.newRelease .songs .collections .songItem .songBtn .songIcn p{
    position: absolute;
    top: 80%;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    color: #f44336;
}
/* SMALLER SCREENS FOR LATEST SONGS SECTION */
@media screen and (max-width: 800px) {
    .newRelease{
        height: unset;
    }
    .newRelease .songs .collections .songItem{
       min-width: 80px;
       margin: 0 5px;
    }
    .newRelease .songs .collections .songItem h5{
        font-size: 8px;
    }
    .newRelease .songs button{
        width: 20px;
        height: 20px;
        margin: 0 30px;
    }
    .newRelease .songs button i{
        font-size: 12px;
    }
    .newRelease h3{
        font-size: 1rem;
    }
    .newRelease .songs .collections .songItem .songBtn img{
        object-fit: unset;
    }
}

/* ARTISTE SECTION STYLING STARTS */
.main-display .artists{
    width: 80%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #fff solid;
    position: absolute;
    background: #22242a;
    top: 0;
}
.main-display .artists .folders{
    width: 90%;
    border: 1px red solid;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.main-display .artists .folders .artItem{
    display : flex;
    flex-direction: column;
    width: 160px;
    height: 300px;
    align-items: center;
    /* justify-content: center; */
    margin: 0 10px;
    border-radius: 7px;
    border: 1px solid #fff;
}
.main-display .artists .folders .artItem .art-description{
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-display .artists .folders .artItem .art-description .artistName{
    position: absolute;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5));
    transition: height 0.5s;
    border-radius: 7px;
    overflow: hidden;
    bottom: 0;
}
.main-display .artists .folders .artItem .art-description:hover .artistName{
    height: 100%;
}
.main-display .artists .folders .artItem .art-description .artistName h3{
    color: #fff;
    margin-bottom: 10px;
}
.main-display .artists .folders .artItem .art-description img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    border-radius: 7px;
    object-fit: cover;
}
.main-display .artists .folders .artItem .art-description:hover img{
    transform: scale(1.02);
}
.main-display .artists .folders .artItem .art-description .artistName i{
    color: #fff;
    margin:0 auto;
    cursor: pointer;
}
.main-display .artists .folders .artItem .tracks{
    display: none;
}
.main-display .artists .folders .artItem.active .tracks{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 200px;
    align-self: flex-start;
    width: 100%;
    border: 1px solid #fff;
    position: relative;
}
.main-display .artists .folders .artItem .tracks .trackList{
    display: flex;
    align-items:  center;
    position: relative;
    color: #fff;
    margin: 5px 0;
    backdrop-filter: blur(10px);
    transition: background 0.5s;
    height: 30px;
    width: 100%;
}
.main-display .artists .folders .artItem .tracks .trackList:hover{
    background: rgb(92, 95, 95);
}
.main-display .artists .folders .artItem .tracks .trackList h5{
    font-size: 13px;
    margin:0 8px;
}
.main-display .artists .folders .artItem .tracks .trackList h5 .subtitle{
    font-size: 11px;
}
.main-display .artists .folders .artItem .tracks .trackList span{
    font-size: smaller;
}
.main-display .artists .folders .artItem .tracks .trackList i{
    padding-right: 5px;
    font-size: 11px;
    cursor: pointer;
    margin-left: 3px;
}
.main-display .artists .folders .artItem .tracks .trackList .fa-heart{
    color: #f44336;
}



/* **********GENRE SECTION STYLING*************************** */
.genres{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.genres h3{
    color: #fff;
    margin-top: 15px;
}
.genres .genre-container{
    width: 90%;
    height: 100%;
    border: 1px red solid;
}
.genres .genre-container .gospel{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 90%;
    height: 220px;
    border:1px solid #f44336;
    margin:0 auto;
}
.genres .genre-container .gospel h3{
    font-size: 14px;
    margin: 0;
}
.genres .genre-container .gospel .songList{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.genres .genre-container .gospel .songList .songItem{
    height: 100%;
}
